<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirement Timeliner</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .box {
            border: 3px solid #666;
            background-color: #ddd;
            border-radius: .5em;
            padding: 10px;
            cursor: move;
        }

        .box.over {
            background-color: #ccc;
            border-top: 5px dashed black;
        }
        .eventName {
            width: 100%;
        }
        .eventSummary {
            font-size: larger;
        }
    </style>
</head>

<body>

    <div id='main'>
        <div class="container mainContainer something">
            <div class="row">
                <div class="col-md-4 availableEventsColumn">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>things you might do</h2>
                            </div>
                        </div>
                        <div v-for="availableEvent in availableEvents" class="row box" draggable="true"
                            :data-name="availableEvent.name" :data-cost="availableEvent.cost"
                            :data-image="availableEvent.image" v-on:dragstart="handleDragEventStart"
                            v-on:dragend="handleDragEventEnd">
                            <div class="col-md-10">{{availableEvent.name}}, cost {{formatPrice(availableEvent.cost)}}
                            </div>
                            <div class="col-md-2"><img :src="availableEvent.image" width="40" height="40"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 selectedEventsColumn">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>things you're planning to do</h2>
                            </div>
                        </div>
                        <div v-for="(event, index) in eventrows" class="row eventRow box" :data-index=index
                                v-on:dragover="handleDragEventOver"
                                v-on:dragleave="handleDragEventLeave" v-on:drop="handleEventDrop">
                            <div class="col-md-1 eventDate">{{event.date}}</div>
                            <div class="col-md-8 eventDescription">
                                <input v-model="event.name" type="text" class="eventName" /><br/> 
                                cost: <input v-model="event.cost" type="number" />
                            </div>
                            <div class="col-md-3 eventImage"><img :src="event.image" width="100" height="100"></div>
                        </div>
                        <div class="row eventRow box eventSummary" v-on:dragover="handleDragEventOver" v-on:drop="handleEventDrop">
                            <div class="col-md-12 eventSummary" v-on:click="addNewEvent">TOTAL COST {{eventsTotalCost}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var RetirementPlanApp = new Vue({
            el: '#main',
            data: {
                eventrows: [
                    {
                        date: new Date().getDate(),
                        name: 'buy a cheap house and eat a lobster with it',
                        cost: 200000,
                        image: 'images/house2.jpg'
                    }
                ],
                availableEvents: [
                    {
                        name: 'buy a nice house',
                        cost: 500000,
                        image: 'images/house1.jpg'
                    },
                    {
                        name: 'buy a nice car',
                        cost: 40000,
                        image: 'images/car_nice.jpg'
                    },
                    {
                        name: 'retire',
                        cost: 0,
                        image: 'images/retire.jpg',
                        action: initRetirement
                    }
                ]
            },
            methods: {
                addNewEvent: function (event) {
                    this.eventrows.push(
                        {
                            date: new Date().getDate(),
                            description: 'some new event',
                            image: 'images/house1.jpg'
                        }
                    )
                },
                formatPrice: function (value) {
                    let val = (value / 1).toFixed(2).replace(',', '.')
                    return '$' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                },
                handleDragEventStart: function (event) {
                    //console.log('event.currentTarget');
                    //console.log(event.currentTarget);
                    let dragged = event.currentTarget;
                    dragged.style.opacity = '0.4';
                    event.dataTransfer.effectAllowed = 'move';
                    let eventDataString = getEventData();
                    event.dataTransfer.setData('text/plain', eventDataString);

                    function getEventData() {
                        let eventObj = {};
                        eventObj['name'] = dragged.dataset.name;
                        eventObj['cost'] = dragged.dataset.cost;
                        eventObj['image'] = dragged.dataset.image;
                        return JSON.stringify(eventObj);
                    }
                },
                handleDragEventEnd: function (event) {
                    //console.log('event.currentTarget');
                    //console.log(event.currentTarget);
                    event.currentTarget.style.opacity = '1';
                },
                handleDragEventOver: function (event) {
                    event.preventDefault();
                    event.currentTarget.classList.add('over');
                },
                handleDragEventLeave: function (event) {
                    event.preventDefault();
                    event.currentTarget.classList.remove('over');
                },
                handleEventDrop: function (event) {
                    event.preventDefault();
                    event.currentTarget.classList.remove('over');
                    console.log('dropped');
                    let eventObj = JSON.parse(event.dataTransfer.getData('text/plain'));
                    let index = parseInt(event.currentTarget.dataset.index);
                    this.eventrows.splice(index,0,eventObj);
                }
            },
            computed: {
                eventsTotalCost: function() {
                    let total = 0;
                    for(let i=0; i<this.eventrows.length; i++) {
                        total += parseFloat(this.eventrows[i].cost);
                    }
                    return this.formatPrice(total);
                }
            },
            mounted: function () {
                console.log('vue mounted');
                this.$nextTick(function () {

                })

            }
        })

        function initRetirement() {
            alert('initializing retirement!')
        }
    </script>


</body>

</html>